#! /usr/bin/make -f

export PYBUILD_AFTER_INSTALL = rm -rf {destdir}/usr/share/doc/duplicity-*
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with python2 --buildsystem=pybuild
